#contact-title{
    text-align: center;
}
.contact{
    max-width: 1600px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.content-maps{
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
#mobile-phone{
    margin-top: 40px;
}
#impotant-contact{
    color: #C22222;
    font-weight: bold;
    margin-top:300px;
    text-align: center;
}